*.pak
/Editor/*
!Editor/Mods/
Editor/Mods/Engine
Editor/Mods/Gustav*
Editor/Mods/Shared*
/Generated
/Localization
/Mods/DiceSet*
/Mods/Gustav*
/Mods/MainUI*
/Mods/ModBrowser*
/Mods/Shared*
/Mods/Story*
/Projects/GustavDev
/Public/Engine
/Public/GustavDev
/Public/Shared*
/Scripts
.DS_Store